.DS_Store
.envrc

# whitelist for links/.config
links/.config/*
!links/.config/gh/
!links/.config/gh-dash/
!links/.config/ghostty/
!links/.config/lazygit/
!links/.config/leaderkey/
!links/.config/nvim/
!links/.config/ohmyposh/
!links/.config/tmux/
!links/.config/yazi/

# tmux plugins (installed by tpm)
links/.config/tmux/plugins/
links/.config/tmux/resurrect/

node_modules
