.DS_Store
.envrc

# whitelist for files/.config
files/.config/*
!files/.config/eza/
!files/.config/gh/
files/.config/gh/hosts.yml
!files/.config/gh-dash/
!files/.config/ghostty/
!files/.config/lazygit/
!files/.config/leaderkey/
!files/.config/nvim/
!files/.config/ohmyposh/
!files/.config/opencode/
files/.config/opencode/*
!files/.config/opencode/opencode.json
!files/.config/tmux/
!files/.config/yazi/

# tmux plugins (installed by tpm)
files/.config/tmux/plugins/
files/.config/tmux/resurrect/

node_modules
files/.config/gh/hosts.yml
