*.pyc
*.swp
*.swo
*~
.DS_Store
.sass-cache
node_modules
bower_components
*.class
*.war
*.ear
*.sublime-project
*.sublime-workspace
.idea
.nvimrc
.vimrc
configstore
gatsby
.worktree-setup
.config/gh/hosts.yml
.config/gh-dash/config-work.yml
