[user]
	name = Anton Niklasson
	email = niklasson.anton@gmail.com
[github]
	user = AntonNiklasson
[core]
	autocrlf = input
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = ~/.gitignore
	ignorecase = false
    pager = delta
[apply]
	whitespace = fix
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[merge]
	log = true
	conflictstyle = zdiff3
[rerere]
	enabled = 1
[push]
	default = current
	autoSetupRemote = true
[branch]
	autosetuprebase = always
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
