[user]
	name = Anton Niklasson
	email = niklasson.anton@gmail.com
[github]
	user = AntonNiklasson
[core]
	autocrlf = input
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = ~/.gitignore
	ignorecase = false
    pager = delta
[apply]
	whitespace = fix
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[merge]
	log = true
    conflictstyle = zdiff3
	tool = p4merge
[rerere]
	enabled = 1
[push]
	default = current
	autoSetupRemote = true
[branch]
	autosetuprebase = always
[init]
    defaultBranch = main
[rebase]
  updateRefs = true
[delta]
  dark = true
  side-by-side = false
[diff]
	tool = p4merge
[diff "tool.p4merge"]
	path = /opt/homebrew/bin/p4merge
[mergetool "p4merge"]
	path = /opt/homebrew/bin/p4merge
[mergetool]
	keepBackup = false
