snippet log "console.log()" b
console.log(${1});
endsnippet


snippet rn-comp "React Native: Component" b
import React, {
	Text
} from 'react-native';


class ${1:Component} extends React.Component {

	constructor(props) {
		super(props);
	}

	render() {
		return (
			$2
		);
	}

}


$1.propTypes = {
	$3
};


export default $1
endsnippet


snippet rn-style "React Native: Style" b
import { StyleSheet } from 'react-native';

export default StyleSheet.create({
	
	$1

});
endsnippet
