gui:
  nerdFontsVersion: "3"
  showListFooter: false
  showPanelJumps: false
  statusPanelView: allBranchesLog
  truncateListItem: true
  expandFocusedSidePanel: false
  sidePanelWidth: 0.4
  theme:
    selectedLineBgColor:
      - reverse
git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
os:
  editTemplate: cursor --reuse-window -- {{filename}}
  editAtLineTemplate: cursor --reuse-window --goto -- {{filename}}:{{line}}
  editAtLineAndWaitTemplate: cursor --reuse-window --goto --wait -- {{filename}}:{{line}}
  openDirInEditorTemplate: cursor -- {{dir}}
  suspend: false
customCommands:
  - key: "<c-p>"
    context: "localBranches"
    description: "Open/Create pull request (sana-pr)"
    loadingText: "Opening or creating PR â³"
    command: "if gh pr view --json url >/dev/null 2>&1; then gh pr view --web; else gh sana-pr --fill && gh pr view --web; fi"
